@{
    ViewData["Title"] = "CRUD Applications | Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h3>SELECT AN OPTION:</h3>
        <div class="optionList">
            <div class="optionItem"><a href="~/Contacts/Index">CONTACTS</a></div>
        </div>
    </div>
</div>
